<div style="padding: 15px;">
    <form style="padding: 15px;">
        <div class="form-group">
            <label class="text-center" style="font-size: 15px" for="exampleInputEmail1">라즈베리파이 아이피</label>
            <p style="font-size: 15px">{{raspInfo.ip}}</p>
        </div>
        <div class="form-group">
            <label class="text-center" style="font-size: 15px" for="exampleInputPassword1">라즈베리파이 키</label>
            <p style="font-size: 15px">{{raspInfo.cpe_key}}</p>
        </div>
        <div class="form-group">
            <label class="text-center" style="font-size: 15px" for="exampleInputPassword1">라즈베리파이 운영체제</label>
            <p style="font-size: 15px">{{raspInfo.cpe_os}}</p>
        </div>
        <div class="form-group">
            <label class="text-center" style="font-size: 15px" for="exampleInputPassword1">라즈베리파이 버전</label>
            <p style="font-size: 15px">{{raspInfo.cpe_version}}</p>
        </div>
    </form>
</div>