<div style="padding: 15px;">
    <form style="padding: 15px;">
        <div class="form-group">
            <label class="text-center" style="font-size: 15px" for="exampleInputEmail1">위모상태</label>
            <p style="font-size: 15px">{{Wemo[0].state}}</p>
        </div>
        <div class="form-group">
            <label class="text-center" style="font-size: 15px" for="exampleInputPassword1">OnSince</label>
            <p style="font-size: 15px">{{Wemo[0].OnSince}}</p>
        </div>
        <div class="form-group">
            <label class="text-center" style="font-size: 15px" for="exampleInputPassword1">오늘 총 사용 전력량</label>
            <p style="font-size: 15px">{{Wemo[0].TodayConsumed}}</p>
        </div>
        <div class="form-group">
            <label class="text-center" style="font-size: 15px" for="exampleInputPassword1">현재 전력량</label>
            <p style="font-size: 15px">{{Wemo[0].instantPower}}</p>
        </div>
    </form>
</div>